Package: bigbashview
Version: 3.7.0-0biglinux1
Provides: qtdeclarative-abi-5-12-8
Depends: python3, python-pyqt6-webengine, pyside6, gir1.2-webkit2-4.0
Architecture: all
Maintainer: eltonff <eltonfabricio10@gmail.com>
Section: admin
Priority: optional
Installed-Size:5048
Description: BigBashView is a interface for rendering bash output using QWebEngine or WebKitGtk2.
Conflicts: bigbashview
Replaces: bigbashview
