Package: bigbashview
Version: 3.0.0-0biglinux9
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:4120
Depends: python3-pyqt5.qtwebengine, python3-pyqt5, python-webpy|python3-webpy
Recommends: python-chameleon
Section: admin
Priority: optional
Description: Graphical interface for bash with webkit engine.

